<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
          Manage Profile
      </div>
      <div class="card-body">
          <form>
              <div class="field mt-3">
                <label class="p-1 block fs-6">User Name</label>
                <input type="text" pInputText formControlName="username" class="form-control" value="Ambareesh Marimekala" [disabled]="true" />
               
              </div>
      
              <div class="field mt-3">
                <label class="p-1 block fs-6">Phone No</label>
                <input type="text" pInputText formControlName="password" class="form-control" value="(+91) 9535770068" />
                
              </div>
      
              <div class="field mt-3">
                  <label class="p-1 block fs-6">Phone No</label>
                  <input type="email" pInputText formControlName="password" class="form-control" value="ambru333@gmail.com" />
                  
                </div>
      
                <div class="field mt-3">
                  <label class="p-1 block fs-6">Address</label>
                  <textarea type="email" pInputText formControlName="password" class="form-control"  rows="5"></textarea>
                </div>
      
                <div class="field mt-3">
                  <label class="p-1 block fs-6">Department</label>
                  <textarea type="email" pInputText formControlName="password" class="form-control"  rows="5"></textarea>
                </div>
        
              <div class="d-flex align-items-center justify-content-center">
                <button pButton pRipple type="submit" label="Update"
                  class="p-button-rounded p-button-warning text-center mt-3"></button>
              </div>
            </form>
      </div>
  </div>
  </div>
 

</div>