<div class="banner" role="banner shadow">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="this.isLoggedIn?'/dashboard':''">
            <img src="../../assets/logo.png" alt="Logo" height="80"> <span class="brand-custom">Jammu & Kashmir Forest Protection Force</span>
          </a>
          <ul *ngIf="this.isUserLoggedIn" [@moveFromRightToLeft] class="list-group list-group-horizontal">
            <!-- <li class="list-group-item"><p-avatar icon="pi pi-bell" pBadge value="4" severity="success" styleClass="mr-2" ></p-avatar> </li> -->
            <li class="list-group-item"> <p-avatar icon="pi pi-user" shape="circle" [style]="{'background-color': '#00bcd475'}"></p-avatar></li>
            <li class="list-group-item"> <span  class="profile-text bold"
              style="font-weight: 600; font-size: large;"> {{name}} </span></li>
            <li class="list-group-item"><p-avatar icon="pi pi-map-marker" shape="circle" [style]="{'background-color': '#ff63474a'}"></p-avatar></li>
            <li class="list-group-item"><span  class="profile-text bold"
              style="font-weight: 600; font-size: large;">{{this.isOnlyDistrictVisibility?this.districtName : this.provisionName}} </span> </li>
              <li class="list-group-item"><p-avatar icon="pi pi-briefcase" shape="circle" [style]="{'background-color': '#ff98006b'}"></p-avatar></li>
              <li class="list-group-item"><span  class="profile-text bold"
                style="font-weight: 600; font-size: large;">{{this.userType}} </span> </li>
            <li class="list-group-item"><span *ngIf="isLoggedIn" class="pl-2 fs-4 text-bold" style=" color: tomato;" (click)="logout()">
              <i class="pi pi-power-off" style="font-size: 1.5rem; font-weight: bolder; cursor: pointer;" pTooltip="Logout"></i></span></li>
          </ul>
        </div>
      </nav>
<div class="spacer"></div>

</div>