
<p-toast></p-toast>

<div class="grid">
    <div class="col-8 p-3">
        <p-card header="Add User Type"  styleClass="p-fluid">
            <form [formGroup]="formUserTypes" (ngSubmit)="onSubmitUserTypes()">
                <div class="formgrid">
         
                    <div class="field">
                        <label for="userTypesName">User Type</label>
                        <input id="userTypesName" pInputText mode="text" formControlName="userTypesName" />
                        <small class="p-error block"
                            *ngIf="formUserTypes.get('userTypesName')?.invalid && formUserTypes.get('userTypesName')?.dirty"> UserTypes is
                            required.</small>
                    </div>

                  

                    <div class="flex align-items-end  col-6 gap-3 ">
                        <button pButton pRipple label="Save" type="submit" icon="pi pi-check" class="p-button-success"
                            [disabled]="formUserTypes.invalid"></button>
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                            type="reset"></button>
                    </div>

                </div>
            </form>
        </p-card>
    </div>
</div>

<div class="card">
    <p-toolbar styleClass="p-mb-1">
        <ng-template pTemplate="left">
           <h6>Manage User Types</h6>
        </ng-template>

        <ng-template pTemplate="right" >
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)] = "search" (input)="dt.filterGlobal(search, 'contains')" placeholder="Search..." />
                   
                </span>
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="userTypes" [rows]="10" [paginator]="true" [globalFilterFields]="['name']"
         [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
   
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">User Type<p-sortIcon field="name"></p-sortIcon></th>
               
                <th></th>  <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-userTypes>
            <tr>
                <td>{{userTypes.name}}</td>
              
                <td class="pl-2">
                    <button pButton pRipple icon="pi pi-pencil" iconPos="left" class="p-button-rounded p-button-success p-mr-5" (click)="editUserTypes(userTypes)"></button>
                    <button pButton pRipple icon="pi pi-trash" iconPos="left" class="p-button-rounded p-button-warning" (click)="deleteUserTypes(userTypes)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{userTypes ? userTypes.length : 0 }} UserTypess.
            </div>
        </ng-template>
    </p-table>
</div>

