<div class="container-fluid" style="background: #eeeeee;">
  <div class="row mt-1">
    <div class="col-lg-2">
      <nav class="navbar navbar-expand-lg sidemenu-bg shadow">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse w-100" id="navbarNav">
            <ul class=" navbar-nav flex-column nav nav-item w-100">
              <li class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'dashboard'" [class.inactive]="activeItem !== 'dashboard'" (click)="activateItem('dashboard')">
                <a class="nav-link  text-white" aria-current="page" routerLink="dashboard">
                  <i class="pi pi-chart-line" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">Dashboard</span>
                </a>
              </li>
              <li  class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'mangeprofile'" [class.inactive]="activeItem !== 'item1'" (click)="activateItem('mangeprofile')">
                <a class="nav-link  text-white" aria-current="page" routerLink="mangeprofile">
                  <i class="pi pi-id-card" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">Manage Profile</span>
                </a>
              </li>
              <li *ngIf="createAdminAuth" class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'createadmin'" [class.inactive]="activeItem !== 'item1'" (click)="activateItem('createadmin')">
                <a class="nav-link  text-white" aria-current="page" routerLink="createadmin">
                  <i class="pi pi-user-plus" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">Create Users</span>
                </a>
              </li>
              <li *ngIf="manageDataAuth" class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'manageparent'" [class.inactive]="activeItem !== 'manageparent'" (click)="activateItem('manageparent')">
                <a class="nav-link  text-white" aria-current="page" routerLink="manageparent">
                  <i class="pi pi-bars" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">Manage Data</span>
                </a>
              </li>
              <li *ngIf="baselineAuth" class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'baselinegrid'" [class.inactive]="activeItem !== 'baselinegrid'" (click)="activateItem('baselinegrid')">
                <a class="nav-link  text-white" aria-current="page" routerLink="baselinegrid">
                  <i class="pi pi-database" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">Baseline Data</span>
                </a>
              </li>
              <li *ngIf="offenderAuth" class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'offenderprofileData'" [class.inactive]="activeItem !== 'offenderprofileData'" (click)="activateItem('offenderprofileData')">
                <a class="nav-link  text-white" aria-current="page" routerLink="offenderprofileData">
                  <i class="pi pi-users" style="font-size: 1.5rem;"> </i>
                  <span class="pl-2">Offender Profile</span>
                </a>
              </li>
              <li *ngIf="historySheetAuth" class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'historygrid'" [class.inactive]="activeItem !== 'historygrid'" (click)="activateItem('historygrid')">
                <a class="nav-link  text-white" aria-current="page" routerLink="historygrid">
                  <i class="pi pi-history" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">History Sheet</span>
                </a>
              </li>
              <li *ngIf="disposedAuth" class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'disposed'" [class.inactive]="activeItem !== 'disposed'" (click)="activateItem('disposed')">
                <a class="nav-link  text-white" aria-current="page" routerLink="disposed">
                  <i class="pi pi-stop-circle" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">Case Disposal</span>
                </a>
              </li>
              <li *ngIf="seizerAuth"  class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'seizure'" [class.inactive]="activeItem !== 'seizure'" (click)="activateItem('seizure')">
                <a class="nav-link  text-white" aria-current="page" routerLink="seizure">
                  <i class="pi pi-file-edit" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">seizure</span>
                </a>
              </li>
              <li *ngIf="reports" class="nav-item fs-5 border-bottom" [class.active]="activeItem === 'reports'" [class.inactive]="activeItem !== 'reports'" (click)="activateItem('reports')">
                <a class="nav-link  text-white" aria-current="page" routerLink="reports">
                  <i class="pi pi-file-excel" style="font-size: 1.5rem;"> </i>
                  <span class="pl-3">Reports</span>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="col-lg-10 mt-1">
      <main>
        <div class="progress-spinner" *ngIf="false">
          <p-progressSpinner></p-progressSpinner>
      </div>
        <router-outlet> </router-outlet>
      </main>
    </div>



  </div>
</div>