
<p-toast></p-toast>
<p-panel  [@fadeIn] header="Disposed Cases">
    <p-table  *ngIf="!isEdit" #dt [value]="baselineData" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','SurnameAlias','FatherHusbandNameAlias','CaseId']" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-gridlines" [showCurrentPageReport]="true" responsiveLayout="stack"
        [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="caption">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="searchValue"
                            (input)="dt.filterGlobal(searchValue, 'contains')" placeholder="Search..." />
                    </span>
                </ng-template>

                <ng-template pTemplate="center">

                    <h6>Date Range</h6>
                    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" inputId="icon"
                        [readonlyInput]="true" inputId="range" (ngModelChange)="onDateRangeSelect($event)">

                    </p-calendar>
                    <button pButton type="button" label="Clear Global Filters" icon="pi pi-filter" iconPos="left"
                        class="p-button-secondary" (click)="onClear()"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton type="button" label="View Disposed Cases" icon="pi pi-table" iconPos="left"
                        class="p-button-secondary" (click)="navigateToDisposedCases()"></button>
                </ng-template>
            </p-toolbar>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="caseNo">Case No <p-sortIcon field="caseNo"></p-sortIcon></th>
                <th pSortableColumn="DateOfDetection">Date Of Detection <p-sortIcon
                        field="DateOfDetection"></p-sortIcon></th>
                <th pSortableColumn="nameOfOfficier">Name of Officer <p-sortIcon field="nameOfOfficier"></p-sortIcon>
                </th>
                <th pSortableColumn="firNo">FIR No <p-sortIcon field="firNo"></p-sortIcon></th>
                <th pSortableColumn="DateOfCrime">Date Of Crime <p-sortIcon field="DateOfCrime"></p-sortIcon></th>
                <th pSortableColumn="Status">Status <p-sortIcon field="Status"></p-sortIcon></th>
                <th> </th>

            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="caseNo"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="date" field="DateOfDetection"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="nameOfOfficier"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="firNo"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="date" field="DateOfCrime"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="Status"></p-columnFilter>
                </th>

                <th>

                </th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Baseline>
            <tr>

                <td style="font-weight: 700;">
                    <p-tableRadioButton [value]="Baseline" (click)="onCaseIdClick(Baseline)"></p-tableRadioButton>
                    {{Baseline.caseNo}}
                </td>
                <td>{{this.convertToDate(Baseline.dateOfDetection)}}</td>
                <td>{{Baseline.officerName}}</td>
                <td>{{Baseline.firNo}}</td>
                <td>{{this.convertToDate(Baseline.crimeDate)}}</td>
                <td> <span [ngClass]="changeColorOnStatusOfBaselineView(Baseline.status)" class="customer-badge">{{Baseline.status}}</span></td>
                <td class="p-1">
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-secondary"
                        (click)="viewBaseline(Baseline)"></button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{baselineData ? baselineData.length : 0 }} Offenders.
            </div>
        </ng-template>
    </p-table>
 
    <p-card *ngIf="caseId != null || this.isEdit" subheader=  " {{isEdit ? 'Edit' : 'Add'}} Details Of disposed case ">
        <form *ngIf="formDisposedCases && isDataLoaded" [formGroup]="formDisposedCases" (ngSubmit)="onSubmitDisposed()">
        <div class="row">
            <div class="col-lg-6">
                <div class="field">
                    <label for="caseId" class="block">Case No</label>
                    <input id="caseId" formControlName = "caseId"  pInputText class="offender-input-width" value="{{this.caseId}}" />
                </div>
                <div class="field">
                    <label for="dateOfFillingComplaints" class="block">Date of Filling Complaints</label>
                    <p-calendar  id="dateOfFillingComplaints"  [showIcon]="true" inputId="icon" 
                    styleClass="p-button-success offender-input-width"
                    formControlName="dateOfFillingComplaints"></p-calendar>
                </div>

                <div class="field">
                    <label for="nameOfCourt" class="block">Name of the Court</label>
                    <input id="nameOfCourt" formControlName = "nameOfCourt"  pInputText class="offender-input-width"   />
                </div>

                <div class="field">
                    <label for="toolsAmplements" class="block">Total Amplements</label>
                    <input id="toolsAmplements" formControlName = "toolsAmplements"  pInputText class="offender-input-width"   />
                </div>
                <div class="field">
                    <label for="noOfAccused" class="block">No Of Accused</label>
                    <input id="noOfAccused" formControlName = "noOfAccused"  pInputText class="offender-input-width"   />
                </div>
                <div class="field">
                    <label for="finalDisposalOfCase" class="block">Final Disposal Of Case</label>
                    <p-dropdown [options]="disposedStatus" class="offender-input-width" formControlName = "finalDisposalOfCase"
                        optionLabel="name"  optionValue="code"></p-dropdown>
                </div>
                <div class="field">
                    <label for="ifConvictedPunishment" class="block">If convicted Punishment</label>
                    <input id="ifConvictedPunishment" formControlName = "ifConvictedPunishment"  pInputText class="offender-input-width" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="field">
                    <label for="sectionsOfLaws" class="block">Section Of Laws</label>
                    <p-chips  placeholder="Hint: enter item and hit 'enter'"
                            styleClass="offender-input-width" formControlName="sectionsOfLaws"></p-chips>
                </div>
                <div class="field">
                    <label for="detailsOfSeizuresRecory" class="block">Details Of Seizures Recovery</label>
                    <input id="detailsOfSeizuresRecory" formControlName = "detailsOfSeizuresRecory"  pInputText class="offender-input-width" />
                </div>
               
                <div class="field">
                    <label for="nameOfAccused" class="block">Name of Accused</label>
                  
                    <span class="p-fluid">
                        <p-autoComplete  formControlName="nameOfAccused" placeholder="Enter names"  [suggestions]="filteredOffenders" dataKey="aadhaarNo" 
                         (completeMethod)="filterCountry($event)" field="name" [multiple]="true" (onSelect)="onSelect($event)"  [delay]="300"> 
                            <ng-template  let-option pTemplate="option">
                              <div class="option-item">
                                <div class="option-details">
                                    <img [alt]="option.name" [src]="offenderProfilePicPath+option.photo_Url" width="40" height="40" style="vertical-align: middle; border-radius:50%" />
                                    <span class="font-bold ml-2">{{option.name}} , {{option.surnameAlias}}</span> | Aadhar : <span class="text-secondary font-bold"> {{option.aadhaarNo}} </span>
                                   
                                </div>
                              </div>
                            </ng-template>
                          </p-autoComplete>
                    </span>
                </div>
                <div class="field">
                    <label for="amount" class="block">If Compounded Amount - Rupees</label>
                    <p-inputNumber formControlName = "amount" inputId="locale-indian" mode="decimal" locale="en-IN" [minFractionDigits]="2" class="offender-input-width"> </p-inputNumber>
                </div>
                <div class="field">
                    <label for="appealFilledIfAny" class="block">Appeal filled</label>
                    <input id="appealFilledIfAny" formControlName = "appealFilledIfAny"  pInputText class="offender-input-width"  />
                </div>
            </div>

            <div class="p-card-footer flex justify-content-center flex-wrap gap-4 mt-1">
                        
                <button pButton type="submit" class="p-button-raised p-button-rounded p-button-success" [ngClass]="{'p-button-warning': isEdit}" >{{isEdit?'Update':'Submit'}}</button>
                <button pButton type="reset" class="p-button-raised p-button-rounded p-button-secondary">Cancel</button>
            </div>
        </div>
    </form>
    </p-card>

</p-panel>