<p-panel header="Seizure Forms">

    <p-card>
        <div class="row">
            <div class="col-lg-6">
                <div class="field">
                    <label for="ItemDescription" class="block">Select Form</label>
                <p-dropdown [options]="formsTypes" class="offender-input-width" optionLabel="name" optionValue="code"></p-dropdown>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="field col-12 md:col-4">
                    <label for="icon">Select Month</label>
                    <p-calendar view="month" dateFormat="mm/yy" [readonlyInput]="true" [showIcon]="true" inputId="icon"></p-calendar>
                </div>
            </div>
        </div>
    </p-card>

    <p-card>
        <p-table [value]="sales" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
             
                <tr>
                    <th ></th>
                    <th ></th>
                    <th colspan="3">Independent Seizure</th>
                    <th colspan="3">Joint Seizure</th>
                </tr>
                <tr>
                    <th>OB</th>
                    <th>During the month</th>
                    <th>Total Seizure</th>
                </tr>
                <tr>
                    <th>OB</th>
                    <th>During the month</th>
                    <th>Total Seizure</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale>
                <tr>
                    <td>{{sale.product}}</td>
                    <td>{{sale.lastYearSale}}%</td>
                    <td>{{sale.thisYearSale}}%</td>
                    <td>{{sale.lastYearProfit | currency: 'USD'}}</td>
                    <td>{{sale.thisYearProfit | currency: 'USD'}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="3" class="text-right">Totals</td>
                    <td>{{lastYearTotal | currency: 'USD'}}</td>
                    <td>{{thisYearTotal | currency: 'USD'}}</td>
                </tr>
            </ng-template>
        </p-table>
        
    </p-card>

</p-panel>