<p-panel header="Seizure Forms">

    <p-card>
        <div class="row">
            <div class="col-lg-6">
                <div class="field">
                    <label for="ItemDescription" class="block">Select Form</label>
                <p-dropdown [options]="formsTypes" class="offender-input-width" optionLabel="name" optionValue="code"></p-dropdown>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="field col-12 md:col-4">
                    <label for="icon">Select Month</label>
                    <p-calendar view="month" dateFormat="mm/yy" [readonlyInput]="true" [(ngModel)] = "value"  [showIcon]="true" inputId="icon"></p-calendar>
                </div>
            </div>
        </div>
    </p-card>
    <p-card header="Under Construction. Will be available soon">

    </p-card>
    <p-card >
        <p-table  #dt [value]="formA" dataKey="id" editMode="row" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header" let-editing="editing" let-ri="rowIndex">
              <tr >
                <th rowspan="2">S.No</th>
                <th rowspan="2"></th>
                <th colspan="3">Independent Seizure</th>
                <th colspan="3">Joint Seizure</th>
                <th></th>
              </tr>
              <tr>
                <th>O.B</th>
                <th>During the Month</th>
                <th>Total</th>
                <th>O.B</th>
                <th>During the Month</th>
                <th>Total</th>
                <th></th>
               
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-seizure let-editing="editing" let-i="rowIndex">
              <tr [pEditableRow]="seizure">
                <td hidden="true">{{ seizure.id }}</td>
                <td>{{ seizure.serialNo }}</td>
                <td><b>{{seizure.name}}</b></td>
                <td><p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="seizure.ob_independent" (ngModelChange)="seizure.total_independent = (seizure.ob_independent || 0) * (seizure.during_month_independent || 0)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{seizure.ob_independent}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td><p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="number" [(ngModel)]="seizure.during_month_independent" (ngModelChange)="seizure.total_independent = (seizure.ob_independent || 0) * (seizure.during_month_independent || 0)">
                </ng-template>
                <ng-template pTemplate="output">
                    {{seizure.during_month_independent}}
                </ng-template>
            </p-cellEditor>
        </td>
              
                <td>{{ seizure.total_independent}}</td>
                <td><p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="seizure.ob_joint" (ngModelChange)="seizure.total_joint = (seizure.ob_joint || 0) * (seizure.during_month_joint|| 0)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{seizure.ob_joint}}
                    </ng-template>
                </p-cellEditor>
            </td>
                
            <td><p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="number" [(ngModel)]="seizure.during_month_joint" (ngModelChange)="seizure.total_joint = (seizure.ob_joint || 0) * (seizure.during_month_joint|| 0)">
                </ng-template>
                <ng-template pTemplate="output">
                    {{seizure.during_month_joint}}
                </ng-template>
            </p-cellEditor>
        </td>
                <td>{{ seizure.total_joint}}</td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(seizure)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(seizure)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(seizure, i)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          
        
    </p-card>

</p-panel>

<p-toast></p-toast>