<div class="d-flex">
  <div class="container align-self-center ">
    <div class="row">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmitPassword()">
        <div class="row">
          <p-panel header="Change Password">
            <div class="card">
              <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
            </div>

            <div class="col-md-8">
              <div class="field mt-3">
                <label class="p-1 block fs-6">Current Password <span class="required-field">*</span></label>
                <input type="text" pInputText formControlName="password" class="form-control" [autocomplete]="false" />
             
                <small class="p-error block"
                  *ngIf="changeForm.get('password')?.invalid && changeForm.get('password')?.dirty"> password is
                  required.</small>
              </div>
              <div class="field mt-3">
                <label class="p-1 block fs-6">New Password <span class="required-field">*</span></label>
               
                <p-password formControlName="newpassword" styleClass="w-100">
                  <ng-template pTemplate="header">
                    <h6>Pick a password</h6>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <hr>
                    <p class="mt-2">Suggestions</p>
                    <ul *ngIf="changeForm.get('newpassword')?.errors" class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li *ngIf="changeForm.get('newpassword')?.hasError('lowercase')">At least one lowercase</li>
                      <li *ngIf="changeForm.get('newpassword')?.hasError('uppercase')">At least one uppercase</li>
                      <li *ngIf="changeForm.get('newpassword')?.hasError('numeric')">At least one numeric</li>
                      <li *ngIf="changeForm.get('newpassword')?.hasError('special')">At least one special character</li>
                      <li *ngIf="changeForm.get('newpassword')?.hasError('minlength')">Minimum 8 characters</li>
                    </ul>
                  </ng-template>
                </p-password>
                
                <small class="p-error block"
                  *ngIf="changeForm.get('newpassword')?.invalid && changeForm.get('newpassword')?.dirty"> New password
                  is
                  required.</small>
                  <small *ngIf="passwordControl?.hasError('pattern')">At least one lowercase</small>
              </div>

              <div class="field mt-3">
                <label class="p-1 block fs-6">Confirm Password <span class="required-field">*</span></label>
                <input type="text" pInputText formControlName="confirmPassword" class="form-control"  [autocomplete]="false" />
      
                <small class="p-error block"
                *ngIf="changeForm.get('confirmPassword')?.hasError('mismatchedPasswords')">
                  Password mismatch.</small>

              </div>
              <div class="d-flex align-items-center justify-content-center gap-3">
                <button pButton pRipple type="submit" label="Update" [icon]="isLoading ? 'pi pi-spin pi-spinner':''" iconPos="right"
                  class="p-button-rounded p-button-warning text-center mt-3"></button>
                <button pButton pRipple type="reset" label="Cancel"
                  class="p-button-rounded p-button-secondary text-center mt-3"></button>
              </div>
            </div>
          </p-panel>
        </div>
      </form>
    </div>
  </div>