<div class="d-flex">
  <div class="container align-self-center ">
    <div class="row">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmitPassword()">
        <div class="row">
          <p-panel header="Change Password">
            <div class="card">
              <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
            </div>

            <div class="col-md-8">
              <div class="field mt-3">
                <label class="p-1 block fs-6">Current Password</label>
                <input type="text" pInputText formControlName="password" class="form-control" />
                <small class="p-error block"
                  *ngIf="changeForm.get('password')?.invalid && changeForm.get('password')?.dirty"> password is
                  required.</small>
              </div>
              <div class="field mt-3">
                <label class="p-1 block fs-6">New Password</label>
                <input type="text" pInputText formControlName="newpassword" class="form-control" />
                <small class="p-error block"
                  *ngIf="changeForm.get('newpassword')?.invalid && changeForm.get('newpassword')?.dirty"> New password
                  is
                  required.</small>
              </div>

              <div class="field mt-3">
                <label class="p-1 block fs-6">Confirm Password</label>
                <input type="text" pInputText formControlName="confirmPassword" class="form-control" />
      
                <small class="p-error block"
                *ngIf="changeForm.get('confirmPassword')?.hasError('mismatchedPasswords')">
                  Password mismatch.</small>

              </div>
              <div class="d-flex align-items-center justify-content-center gap-3">
                <button pButton pRipple type="submit" label="Update"
                  class="p-button-rounded p-button-warning text-center mt-3"></button>
                <button pButton pRipple type="reset" label="Cancel"
                  class="p-button-rounded p-button-secondary text-center mt-3"></button>
              </div>
            </div>
          </p-panel>
        </div>
      </form>
    </div>
  </div>