<div class="d-flex custom-container">
    <div class="container align-self-center ">
      <div class="row">
        <div class="card mx-auto shadow" style="max-width: 700px;">
          <div class="row">
            <div class="col-md-4 bg-white">
               <a routerLink="/dashboard"><i class="pi  pi-arrow-left p-3 text-success text-bold" style="font-size: 2rem"></i></a> 
               <div class="row bg-success">
                <p class="p-2 text-white fs-6">When you submit a new password, it replaces the old one. You must then use the new password to log in.</p>
               </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Change Password</h5>
                
                  <div class="form-group mt-3">
                    <label>Old Password</label>
                    <input type="text" class="form-control" />
                 
                    <div class="form-group mt-3">
                        <label>New Password</label>
                        <input type="password" class="form-control" />
                      </div>
                      <div class="form-group mt-3">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="captcha">Please enter the captcha shown below:</label>
                        <input type="text" class="form-control mb-3" />
                        <app-captcha #captchaImage class="form-control" ></app-captcha>
                      </div>
                      
                      <button type="button" class="btn btn-success mt-3" >Submit</button>

                    
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>