.offender-input-width{
    width: 75%;
}
:host ::ng-deep .p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 75%;
}
.bg-grey{
    background: #9e9e9e52 !important;
}