<p-panel header="Baseline Data">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px'}" [hidden]="!isDataLoaded"></p-progressBar>
    <p-table #dt [value]="baselineData" [rows]="10" [paginator]="true" [globalFilterFields]="['name','SurnameAlias','FatherHusbandNameAlias','CaseId']"
    [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [showCurrentPageReport]="true" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)] = "searchValue" (input)="dt.filterGlobal(searchValue, 'contains')" placeholder="Search..." />
                </span>
            </ng-template>
    
            <ng-template pTemplate="center">
                
                <h6 >Date Range</h6>
                 <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" inputId="icon" [readonlyInput]="true" inputId="range" (ngModelChange)="onDateRangeSelect($event)">
                   
                 </p-calendar>
                 <button pButton type="button" label="Clear Global Filters" icon="pi pi-filter" iconPos="left" class="p-button-secondary" (click)="onClear()"></button>
            </ng-template>

            <ng-template pTemplate="right">
                <button pButton type="button" label="Add Baseline Data" icon="pi pi-plus" iconPos="left" class="p-button-secondary" (click)="navigateToBaselineProfile()"></button>
            </ng-template>
        </p-toolbar>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="caseNo">Case No <p-sortIcon field="caseNo"></p-sortIcon></th>
            <th pSortableColumn="DateOfDetection">Date Of Detection <p-sortIcon field="DateOfDetection"></p-sortIcon></th>
            <th pSortableColumn="nameOfOfficier">Name of Officer <p-sortIcon field="nameOfOfficier"></p-sortIcon></th>
            <th pSortableColumn="firNo">FIR No  <p-sortIcon field="firNo"></p-sortIcon></th>
            <th pSortableColumn="DateOfCrime">Date Of Crime <p-sortIcon field="DateOfCrime"></p-sortIcon></th>
            <th pSortableColumn="Status">Status <p-sortIcon field="Status"></p-sortIcon></th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
        <tr>
			<th>
				<p-columnFilter type="text" field="caseNo"></p-columnFilter>
			</th>
            <th>
				<p-columnFilter type="date" field="DateOfDetection"></p-columnFilter>
			</th>
			<th>
				<p-columnFilter type="text" field="nameOfOfficier"></p-columnFilter>
			</th>
			<th>
				<p-columnFilter type="text" field="firNo"></p-columnFilter>
			</th>
            <th>
				<p-columnFilter type="date" field="DateOfCrime"></p-columnFilter>
			</th>
			<th>
				<p-columnFilter type="text" field="Status"></p-columnFilter>
			</th>
            <th>
				
			</th>
            <th>
				
			</th>
            <th>
				
			</th>
		</tr>
	</ng-template>
  
    <ng-template pTemplate="body" let-Baseline>
        <tr>
           
            <td style="font-weight: 700;">
             {{Baseline.caseNo}}
            </td>
            <td>{{this.convertToDate(Baseline.dateOfDetection)}}</td>
            <td>{{Baseline.officerName}}</td>
            <td>{{Baseline.firNo}}</td>
            <td>{{this.convertToDate(Baseline.crimeDate)}}</td>
            <td>{{Baseline.status}}</td>
            <td class="p-1">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-mr-2" (click)="editBaseline(Baseline)"></button>
                
            </td>
            <td class="p-1">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-secondary"  (click)="viewBaseline(Baseline)"></button>
                
            </td>
            <td class="p-1">
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-secondary" label="Offender" (click)="addOffender(Baseline)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{baselineData ? baselineData.length : 0 }} Offenders.
        </div>
    </ng-template>
</p-table>
</p-panel>