.offender-input-width{
    width: 75%;
}
:host ::ng-deep .p-card-subtitle {
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #fff !important;
    background: #6c757d !important;
    padding: 10px !important;
    font-weight: bold !important;
}
:host ::ng-deep span > .p-button{
    background: #6c757d;
    color: #ffffff;
    border-color: #6c757d;
}
:host ::ng-deep .p-fileupload-buttonbar >  .p-fileupload-choose{
    background: #6c757d;
    color: #ffffff;
    border-color: #6c757d;
}
:host ::ng-deep .p-fileupload-buttonbar >.p-button[type="button"] > .button[type="button"]{
    background: #6c757d;
    color: #ffffff;
    border-color: #6c757d;
}

.caseId{
    font-weight: bold;
    color: #607D8B;
}

:host ::ng-deep .p-inputmask{
  width: 75%;
}

:host ::ng-deep .p-dropdown{
    width: 75%;
}

:host ::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #f7d571;
    color: #00000075;
    padding: 1.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}