<div class="container-fluid" [@fadeIn]>
    <form *ngIf="(isEdit && isDataLoaded && districtData.length>0) || (!isEdit && formOffender && districtData.length>0)" [formGroup]="formOffender" (ngSubmit)="onSubmitOffender()">
        <p-panel header={{titleText}}>
            <p-card subheader="Personal Profile">
                <div class="formgrid">
                    <div class="row">
                    <div class="col-6">

                        <div class="field" [ngClass]="isItNavigatedFromBaeline ? 'd-block' : 'd-none' ">
                            <label for="caseId" class="block">Case Id</label>
                            <input id="caseId" pInputText mode="text"  class="offender-input-width caseId" [readOnly]="caseId.length>2" formControlName="caseId" />
                          
                            <small class="p-error block"
                                *ngIf="formOffender.get('caseId')?.dirty"> Case Id is
                                required.</small>
                        </div>
                        <div class="field">
                            <label for="Name" class="block">Name <span class="required-field">*</span></label>
                             <input id="Name" pInputText mode="text" class="offender-input-width" formControlName="name" />
                             <small class="p-error block"
                                 *ngIf="formOffender.get('name')?.invalid && formOffender.get('name')?.dirty"> Name is
                                 required.</small>
                         </div>

                        <div class="field">
                            <label for="surNameAlias" class="block text-bold">SurName/Alias<span class="required-field">*</span></label>
                            <input id="surNameAlias" pInputText mode="text" class="offender-input-width" formControlName="surNameAlias"  />
                        </div>
                        <div class="field">
                            <label for="fatherName" class="block">Father Name/ Husband Name <span class="required-field">*</span></label>
                            <input id="fatherName" pInputText mode="text" class="offender-input-width" formControlName="fatherName" />
                            <small class="p-error block"
                                *ngIf="formOffender.get('fatherName')?.invalid && formOffender.get('fatherName')?.dirty"> Father name is
                                required.</small>
                        </div>
                        <div class="field">
                            <label for="caste" class="block">Caste </label>
                            <input id="caste" pInputText mode="text" class="offender-input-width" formControlName="caste"  />
                            <small class="p-error block"
                                *ngIf="formOffender.get('caste')?.invalid && formOffender.get('caste')?.dirty"> Caste is
                                required.</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="field">
                            <label for="trade" class="block">Trade or Profession </label>
                            <input id="trade" pInputText mode="text" class="offender-input-width" formControlName="trade" />
                            <small class="p-error block"
                                *ngIf="formOffender.get('trade')?.invalid && formOffender.get('trade')?.dirty"> Trade or Profession is
                                required.</small>
                        </div>
                  
                        <div class="field">
                            <label for="userName" class="block">Date of Photography </label>
                            <p-calendar  [showIcon]="true" inputId="icon" styleClass="p-button-success " formControlName="dateOfPhotography"></p-calendar>
                            <small class="p-error block"
                            *ngIf="formOffender.get('dateOfPhotography')?.invalid && formOffender.get('dateOfPhotography')?.dirty">Date of Photography is
                           </small>
                        </div>
    
                        <div class="field">
                            <label for="userName" class="block">Upload Photo - Max Size 50K <span class="required-field">*</span></label>
                            <p-fileUpload name="myfile[]" [customUpload]="true"  (uploadHandler)="onUploadImg($event)" accept="image/*,application/pdf"  (onProgress)="onUploadProgress($event)" [maxFileSize]="5000000" >
                                <ng-template pTemplate="toolbar">
                                <div *ngIf="isEdit && this.imageUrlOfEdit != '' " class="p-fileupload-files ng-star-inserted mt-3">
                                    <div class="ng-star-inserted">
                                        <div class="p-fileupload-row ng-star-inserted">
                                
                                            <img [src]="this.imageUrlOfEdit" width="100"
                                                class="ng-star-inserted">
                                
                                            <button type="button" icon="pi pi-times" pbutton="" (click)="clearTheImage($event)"
                                                class="p-element p-button p-component p-button-icon-only ml-3" ng-reflect-icon="pi pi-times"><span
                                                    class="p-button-icon pi pi-times" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>

                                <ul *ngIf="uploadedFiles && uploadedFiles.length>0">
                                    <li style="font-weight: bold; color:darkkhaki" class="text-bold" *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                            </p-fileUpload>
                              
                        </div>
                    </div>
                </div>
                </div>
            </p-card>
            <p-card subheader="Important Personal Information" styleClass="mt-3">
                <div class="formgrid">
                    <div class="row">
                    <div class="col-6">
                        <div class="field">
                            <label for="userName" class="block">Date of Birth <span class="required-field">*</span></label>
                            <p-calendar  [showIcon]="true" inputId="icon" formControlName="dateOfBirth" [maxDate]="maxDate" (onSelect)="onDateSelect($event)"></p-calendar>
                            <small class="p-error block"
                            *ngIf="formOffender.get('dateOfBirth')?.invalid && formOffender.get('dateOfBirth')?.dirty">Date of Birth is required
                           </small>
                        </div>
                        <div class="field">
                            <label for="age" class="block text-bold">Age <span class="required-field">*</span></label>
                            <input id="age" pInputText type="number" class="offender-input-width" formControlName="age" />
                        </div>
                        <div class="field">
                            <label for="fatherName" class="block">Sex <span class="required-field">*</span></label>
                            <div class="p-field-radiobutton">
                                <p-radioButton name="sex" value="male"  formControlName="sex" label="Male"></p-radioButton>
                                <p-radioButton class="ml-2" name="sex" value="female" formControlName="sex" label="Female"></p-radioButton>
                                <p-radioButton class="ml-2" name="sex" value="other" formControlName="sex" label="Others"></p-radioButton>
                              </div>
                   
                        </div>
                        <div class="field">
                            <label for="citizenShip" class="block">Citizenship <span class="required-field">*</span></label>
                            <input id="citizenShip" pInputText mode="text" class="offender-input-width" formControlName="citizenShip"  />
                            <small class="p-error block"
                                *ngIf="formOffender.get('citizenShip')?.invalid && formOffender.get('citizenShip')?.dirty"> Citizenship is
                                required.</small>
                        </div>
                        <div class="field">
                            <label for="email" class="block">Email Address </label>
                            <input id="email" pInputText mode="email" class="offender-input-width" formControlName="email" />
                            <small class="p-error block"
                                *ngIf="formOffender.get('email')?.invalid && formOffender.get('email')?.dirty"> Email is
                                required.</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="field">
                            <label for="passport" class="block">Passport No </label>
                            <input id="passport" pInputText mode="text" class="offender-input-width" formControlName="passport" />
                            <!-- <small class="p-error block"
                            *ngIf="formOffender.get('passport')?.invalid && formOffender.get('passport')?.dirty">Passport is required.
                           </small> -->
                        </div>

                        <div class="field">
                            <label for="mobileNo" class="block">Telephone/Mobile No </label>
                            <input id="mobileNo" pInputText mode="text" class="offender-input-width"
                                formControlName="mobileNo" />
                            <!-- <small class="p-error block"
                                *ngIf="formOffender.get('mobileNo')?.invalid && formOffender.get('mobileNo')?.dirty">Passport
                                is required.
                            </small> -->
                        </div>

                        <div class="field">
                            <label for="aadharNo" class="block">Aadhar No <span class="required-field"></span></label>
                                <p-inputMask mask="9999-9999-9999"   class="offender-input-width" formControlName="aadharNo" (focusout)="onAadharFocusOut($event)"></p-inputMask>
                            <!-- <small class="p-error block"
                                *ngIf="formOffender.get('aadharNo')?.invalid && formOffender.get('aadharNo')?.dirty">Aadhar
                                No is required.
                            </small> -->
                        </div>

                        <div class="field">
                            <label for="backAccountNo" class="block">Bank Account No </label>
                            <input id="backAccountNo" pInputText mode="text" class="offender-input-width"
                                formControlName="backAccountNo" />
                            <small class="p-error block"
                                *ngIf="formOffender.get('backAccountNo')?.invalid && formOffender.get('backAccountNo')?.dirty">Back
                                Account No is required.
                            </small>
                        </div>


                       
                    </div>
                </div>
                </div>
            </p-card>
            <p-card subheader="Residence" styleClass="mt-3">
               <div class="row">
                <div class="col-6">
                    <div class="field">
                        <label for="houseNo" class="block">House No.</label>
                        <input id="houseNo" pInputText mode="text" class="offender-input-width" formControlName="houseNo" />
                        <small class="p-error block" *ngIf="formOffender.get('houseNo')?.invalid && formOffender.get('houseNo')?.dirty">
                            House No. is required.
                        </small>
                    </div>
                    <div class="field">
                        <label for="village" class="block">Village <span class="required-field">*</span></label>
                        <input id="village" pInputText mode="text" class="offender-input-width" formControlName="village" />
                        <small class="p-error block" *ngIf="formOffender.get('village')?.invalid && formOffender.get('village')?.dirty">
                            Village is required.
                        </small>
                    </div>
                    <div class="field">
                        <label for="city" class="block">City / Town <span class="required-field">*</span></label>
                        <input id="city" pInputText mode="text" class="offender-input-width" formControlName="city" />
                        <small class="p-error block" *ngIf="formOffender.get('city')?.invalid && formOffender.get('city')?.dirty">
                            City is required.
                        </small>
                    </div>
                    <div class="field">
                        <label for="street" class="block">Street </label>
                        <input id="street" pInputText mode="text" class="offender-input-width" formControlName="street" />
                        <small class="p-error block" *ngIf="formOffender.get('street')?.invalid && formOffender.get('street')?.dirty">
                            Street is required.
                        </small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field">
                        <label for="policeStation" class="block">Police Station <span class="required-field">*</span></label>
                        <input id="policeStation" pInputText mode="text" class="offender-input-width" formControlName="policeStation" />
                        <small class="p-error block"
                            *ngIf="formOffender.get('policeStation')?.invalid && formOffender.get('policeStation')?.dirty">
                            Police Station is required.
                        </small>
                    </div>
                    <div class="field">
                        <label for="district" class="block">Forest Division / Gamma Unit <span class="required-field">*</span></label>
                        <p-dropdown [options]="districtData" formControlName="district" class="offender-input-width" optionLabel="name" optionValue="id"></p-dropdown>
                        <small class="p-error block"
                            *ngIf="formOffender.get('district')?.invalid && formOffender.get('district')?.dirty">
                            District is required.
                        </small>
                    </div>
                    <div class="field">
                        <label for="pincode" class="block">Pincode </label>
                        <input id="pincode" pInputText mode="text" class="offender-input-width" formControlName="pincode" />
                        <small class="p-error block"
                            *ngIf="formOffender.get('pincode')?.invalid && formOffender.get('pincode')?.dirty">
                            Pincode is required
                        </small>
                    </div>
                </div>
            </div>
                   </p-card>
                   <p-card styleClass="mt-2">
                    <div class="p-card-footer flex justify-content-center flex-wrap gap-4">
                        
                        <button pButton type="submit" class="p-button-raised p-button-rounded p-button-success" [ngClass]="{'p-button-warning': isEdit}">{{buttonText}}</button>
                        <button pButton type="reset" class="p-button-raised p-button-rounded p-button-secondary">Cancel</button>
                    </div>
                </p-card>
        </p-panel>
   
</form>

<p-dialog header="Aadhar No already exists" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="mt-2">
        <p>The following Aadhar No <b>{{this.aadharNo}} </b> already exists in the database with the offender name <b>{{this.aadharName}} </b> and offender is attached to the case Id <b>{{aadharCaseId}}</b>.</p>
        <p> Please verify the submitted aadhar no & It should be unique to a offender.</p>

    </div>
   
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
</div><p-toast></p-toast>