<p-toast></p-toast>
<div class="container-fluid" [@fadeIn]>
    <p-progressBar mode="indeterminate" [style]="{ height: '6px'}" [hidden]="isDataLoaded"></p-progressBar>
    <p-panel header={{titleText}}>

        <ng-template pTemplate="icons" >
            <div class="flex gap-3" *ngIf="isDutyDirectorOrSuperAdmin && isEdit"> 
                <button pButton type="button" icon="pi pi-check" iconPos="left" styleClass="p-button"
                class="p-button-raised p-button-rounded p-button-success" label="Approve" (click)="onApproveCase()">
               
              </button>
                <button pButton type ="button" icon="pi pi-times" iconPos="left" label="Reject"
                 styleClass="p-button" class="p-button-raised p-button-rounded p-button-danger" (click)="onRejectCase()" ></button>
            </div>
    </ng-template>

        <form *ngIf="formBaseline && isDataLoaded"  [formGroup]="formBaseline" (ngSubmit)="onSubmitBaseline()">
            <div class="row">
                <div class="col-lg-6">

                    <div class="field">
                        <label for="DateOfDetection" class="block">Date of Detection <span class="required-field">*</span></label>
                        <p-calendar [showIcon]="true" inputId="icon" styleClass="p-button-success offender-input-width"
                            formControlName="DateOfDetection"></p-calendar>
                        <small class="p-error block"
                            *ngIf="formBaseline.get('DateOfDetection')?.invalid && formBaseline.get('DateOfDetection')?.dirty">Date
                            of Photography is
                        </small>
                    </div>
                    <div class="field">
                        <label for="OfficerName" class="block">Officer's Name <span class="required-field">*</span></label>
                        <input id="Name" pInputText mode="text" class="offender-input-width"
                            formControlName="OfficerName" />
                        <small class="p-error block"
                            *ngIf="formBaseline.get('OfficerName')?.invalid && formBaseline.get('OfficerName')?.dirty">
                            Name is
                            required.</small>
                    </div>

                    <div class="field">
                        <label for="CrimeDetails" class="block">Crime Details <span class="required-field">*</span></label>
                        <textarea id="CrimeDetails" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"
                            class="offender-input-width" formControlName="CrimeDetails"></textarea>
                        <small class="p-error block"
                            *ngIf="formBaseline.get('CrimeDetails')?.invalid && formBaseline.get('CrimeDetails')?.dirty">Crime
                            Details is required.</small>
                    </div>

                    <div class="field">
                        <label for="ToolsUsed" class="block">Tools Used <span class="required-field">*</span></label>
                        <p-chips separator={{separatorExp}} placeholder="Hint: enter item and hit 'enter'" formControlName="ToolsUsed"
                            styleClass="offender-input-width"></p-chips>
                        <small class="p-error block"
                            *ngIf="formBaseline.get('ToolsUsed')?.invalid && formBaseline.get('ToolsUsed')?.dirty">Tools
                            Used is required.</small>
                    </div>
                    <div class="field" *ngIf="isSuperAdmin">
                        <label for="CircleId" class="block">Province <span class="required-field">*</span></label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="jammu" value="1" [(ngModel)]="provinceId" name="province" (change)="onProvinceChanged($event)">
                            <label class="form-check-label" for="jammu">Jammu Division</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="kashmir" value="2" [(ngModel)]="provinceId" name="province" (change)="onProvinceChanged($event)">
                            <label class="form-check-label" for="kashmir">Kashmir Division</label>
                          </div>
                      </div>

                    <div class="field">
                        <label for="CircleId" class="block">Circle <span class="required-field">*</span></label>
                        <p-dropdown id="CircleId" [options]="circles" [showClear]="true" formControlName="CircleId" optionLabel="name" optionValue="id" (onChange)="onCircleChange($event)" [readonly]="isUserCaseEntryOperatorOrDuptyDirector()"> </p-dropdown>
                        <small class="p-error block" *ngIf="formBaseline.get('CircleId')?.invalid && formBaseline.get('CircleId')?.dirty">Circle ID is required.</small>
                      </div>
                      <div class="field">
                        <label for="ForestDivisionId" class="block">Forest District / Division <span class="required-field">*</span></label>
                        <p-dropdown id="ForestDivisionId" [options]="forestDivisions" [showClear]="true" formControlName="ForestDivisionId" optionLabel="name" optionValue="id" (onChange)="onForestDivisionChange($event)" [readonly]="isUserCaseEntryOperatorOrDuptyDirector()"></p-dropdown>
                        <small class="p-error block" *ngIf="formBaseline.get('ForestDivisionId')?.invalid && formBaseline.get('ForestDivisionId')?.dirty">Forest Division ID is required.</small>
                      </div>
                      <div class="field">
                        <label for="ForestRangeId" class="block">Forest Range <span class="required-field">*</span></label>
                        <p-dropdown id="ForestRangeId" [options]="forestRanges" [showClear]="true" formControlName="ForestRangeId" optionLabel="name" optionValue="id" (onChange)="onForestRangeChange($event)"></p-dropdown>
                        <small class="p-error block" *ngIf="formBaseline.get('ForestRangeId')?.invalid && formBaseline.get('ForestRangeId')?.dirty">Forest Range ID is required.</small>
                      </div>
                      <div class="field">
                        <label for="CompartmentId" class="block">Compartment <span class="required-field">*</span></label>
                        <p-dropdown id="CompartmentId" [options]="compartments" [showClear]="true" formControlName="CompartmentId" optionLabel="name" optionValue="id" (onChange)="onCompartmentChange($event)"></p-dropdown>
                        <small class="p-error block" *ngIf="formBaseline.get('CompartmentId')?.invalid && formBaseline.get('CompartmentId')?.dirty">Compartment ID is required.</small>
                      </div>
                    <div class="field">
                        <label for="PoliceStation" class="block">Police Station <span class="required-field">*</span></label>
                        <input id="PoliceStation" pInputText mode="text" class="offender-input-width"
                            formControlName="PoliceStation" />
                        <small class="p-error block"
                            *ngIf="formBaseline.get('PoliceStation')?.invalid && formBaseline.get('PoliceStation')?.dirty">Police
                            Station is required.</small>
                    </div>
                
                </div>
                <div class="col-lg-6">
                    <div class="field">
                        <label for="FIRNo" class="block">FIR Number <span class="required-field">*</span></label>
                        <input id="FIRNo" pInputText mode="text" class="offender-input-width" formControlName="FIRNo" />
                        <small class="p-error block"
                            *ngIf="formBaseline.get('FIRNo')?.invalid && formBaseline.get('FIRNo')?.dirty">FIR Number is
                            required.</small>
                    </div>
                    <div class="field">
                        <label for="CrimeDate" class="block">Crime Date <span class="required-field">*</span></label>
                        <p-calendar [showIcon]="true" inputId="icon" styleClass="p-button-success offender-input-width"
                            formControlName="CrimeDate"></p-calendar>
                        <small class="p-error block"
                            *ngIf="formBaseline.get('CrimeDate')?.invalid && formBaseline.get('CrimeDate')?.dirty">Date
                            of Photography is
                        </small>
                    </div>
                    <div class="field">
                        <label for="SectionOfLaw" class="block">Section of Law <span class="required-field">*</span></label>
                        <p-chips separator={{separatorExp}} placeholder="Hint: enter item and hit 'enter'"
                            styleClass="offender-input-width" formControlName="SectionOfLaw"></p-chips>
                        <small class="p-error block"
                            *ngIf="formBaseline.get('SectionOfLaw')?.invalid && formBaseline.get('SectionOfLaw')?.dirty">Section
                            of Law is required.</small>
                    </div>
                    <div class="field">
                        <label for="Quantity" class="block">Item Quantity</label>
                        <input id="Quantity" pInputText type="number" class="offender-input-width"
                            formControlName="Quantity" />
                      
                    </div>
                    <div class="field">
                        <label for="Weight" class="block">Item Weight</label>
                        <div class="flex">
                            <input id="Weight" pInputText type="number" class=""
                            formControlName="Weight" />
                             <p-dropdown id="CircleId" [options]="units"  optionLabel="name" optionValue="id" class="units-dropdown"> </p-dropdown>
                        </div>
                    </div>
                    <div class="field">
                        <label for="NoOfAccused" class="block">No of Accused <span class="required-field">*</span></label>
                        <input id="NoOfAccused" pInputText type="number" class="offender-input-width"
                            formControlName="NoOfAccused" />
                        <small class="p-error block"
                            *ngIf="formBaseline.get('NoOfAccused')?.invalid && formBaseline.get('NoOfAccused')?.dirty">Number
                            of Accused is required.</small>
                    </div>
                    <div class="field">
                        <label for="NameOfAccused" class="block">Name of Accused <span class="required-field">*</span></label>

                        <span class="p-fluid">
                            <p-autoComplete  formControlName="NameOfAccused" placeholder="Enter names"  [suggestions]="filteredOffenders" dataKey="aadhaarNo" 
                             (completeMethod)="filterCountry($event)" field="name" [multiple]="true" (onSelect)="onSelect($event)" (onUnselect)="onUnselect($event)" [delay]="300"> 
                                <ng-template  let-option pTemplate="option">
                                  <div class="option-item">
                                    <div class="option-details">
                                        <img [alt]="option.name" [src]="offenderProfilePicPath+option.photo_Url" width="40" height="40" style="vertical-align: middle; border-radius:50%" />
                                        <span class="font-bold ml-2">{{option.name}} , {{option.surnameAlias}}</span> | Aadhar : <span class="text-secondary font-bold"> {{option.aadhaarNo}} </span>
                                       
                                    </div>
                                  </div>
                                </ng-template>
                              </p-autoComplete>
                        </span>

                        <!-- <p-chips formControlName="NameOfAccused" (onAdd)="onChipAdd($event)" placeholder="Enter names"
                            formControlName="NameOfAccused">
                            <ng-template let-item pTemplate="item">
                                <span class="pi pi-user pr-2"></span>{{ item }}
                            </ng-template>
                        </p-chips> -->
                        <small class="p-error block"
                            *ngIf="formBaseline.get('NameOfAccused')?.invalid && formBaseline.get('NameOfAccused')?.dirty">Name
                            of Accused is required.</small>
                    </div>
                    <div class="field">
                        <label for="SpeciesDetected" class="block">Species Detected <span class="required-field">*</span></label>
                        <p-chips separator={{separatorExp}} placeholder="Hint: enter item and hit 'enter'"
                            styleClass="offender-input-width" formControlName="SpeciesDetected"></p-chips>
                        <small class="p-error block"
                            *ngIf="formBaseline.get('SpeciesDetected')?.invalid && formBaseline.get('SpeciesDetected')?.dirty">Species
                            Detected is required.</small>
                    </div>
                    <div class="field">
                        <label for="ItemDescription" class="block">Item Description <span class="required-field">*</span></label>
                        <textarea id="CrimeDetails" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"
                            class="offender-input-width" 
                            formControlName="ItemDescription"></textarea>
                        <small class="p-error block"
                            *ngIf="formBaseline.get('ItemDescription')?.invalid && formBaseline.get('ItemDescription')?.dirty">Item
                            Description is required.</small>
                    </div>
                </div>
            </div>
         
                <div class="p-card-footer flex justify-content-center flex-wrap gap-3">
                    <button pButton type = "submit" class="p-button-raised p-button-rounded p-button-success" [ngClass]="{'p-button-warning': isEdit}">{{buttonText}}</button>
                    <button pButton type ="reset" class="p-button-raised p-button-rounded p-button-secondary">Cancel</button>
                </div>
           
        </form>
    </p-panel>
</div>
<p-confirmDialog [style]="{width: '550px'}"></p-confirmDialog>

<p-dialog header="Reason for rejecting the baseline data" [(visible)]="displayPosition"  [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div>
        <textarea id="CrimeDetails" [rows]="5" [cols]="100" pInputTextarea [(ngModel)]="reason" placeholder="Provide the reason here." ></textarea>
    </div>
        <ng-template pTemplate="footer">
            {{reason.trim().length}}
            <p-button icon="pi pi-check" (click)="displayPosition=false" label="Reject" styleClass="p-button-text p-button-danger" [disabled]="reason.trim().length==0" (onClick)="onSubmittedRejectedReason()"></p-button>
        </ng-template>
</p-dialog>