.offender-input-width{
    width: 75%;
}

:host ::ng-deep  .p-chips {
    display: inline-block;
    width: 75% !important;
}

:host ::ng-deep .p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0.375rem 0.75rem;
    background: #6c757d;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
}

:host ::ng-deep .p-calendar {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    width: 75%;
}
:host ::ng-deep span > .p-button{
    background: #6c757d;
    color: #ffffff;
    border-color: #6c757d;
}
:host ::ng-deep .p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 75%;
}