<div class="d-flex custom-container">
    <div class="container align-self-center ">
      <div class="row">
        <div class="card mx-auto shadow" style="max-width: 800px;">
          <div class="row">
            <div class="card">
              <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
          </div>
            <div class="col-md-4 bg-success">
               <a routerLink=""><i class="pi  pi-arrow-left p-3 text-white text-success text-bold" style="font-size: 2rem"></i></a> 
               <div class="row ">
                <p class="p-2 text-white fs-5">After submitting your email and new password, a verification link will be sent to your email. Clicking on that link will automatically set your new password .</p>
               </div>
            </div>
            <div class="col-md-8">
              <form [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
              <div class="card-body">
                <h5 class="card-title text-bs-gray-700 text-bold fs-4">Forgot Password</h5>

                <div class="form-group mt-3">
                  <label class="p-1 block fs-6">User Name</label>
                  <input pInputText type="text" class="form-control" formControlName="username" />
                  <small class="p-error block"
                  *ngIf="forgotForm.get('username')?.invalid && forgotForm.get('username')?.dirty"> User name is
                  required.</small>
                </div>
                
                  <div class="form-group mt-3">
                    <label class="p-1 block fs-6">Email</label>
                    <input pInputText type="forgotEmail" class="form-control" formControlName="forgotEmail" />
                    <small class="p-error block"
                    *ngIf="forgotForm.get('forgotEmail')?.invalid && forgotForm.get('forgotEmail')?.dirty"> Email is
                    required.</small>
                  </div>

                  <div class="field mt-3">
                    <label class="p-1 block fs-6" for="captcha">Please enter the captcha shown below:</label>
                    <input type="text" pInputText class="form-control mb-2" formControlName="captcha" />
                    <small class="p-error block"
                      *ngIf="forgotForm.get('captcha')?.invalid && forgotForm.get('captcha')?.dirty"> Captcha is
                      required.</small>
                      <small class="p-error block pb-2"
                      *ngIf="isCapthaNotMatch"> Captcha not 
                      matched. Please retry.</small>
                      <div class="d-flex">
                        <app-captcha #captchaImage class="form-control" style="background: #cddc39c2; width: 90%;"></app-captcha>
                        <button class="btn btn-link" type="button" (click)="refreshCaptcha()">
                         <i class="pi pi-refresh icon-style"> </i>
                        </button>
                      </div>
                
                  </div>
                      <div class="d-flex align-items-center justify-content-center">
                        <button pButton pRipple type="submit" label="Submit"
                          class="p-button-rounded p-button-success text-center mt-3" [disabled]="forgotForm.invalid" ></button>
                      </div>
            </div>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>