<div class="d-flex custom-container">
    <div class="container align-self-center ">
      <div class="row">
        <div class="card mx-auto shadow" style="max-width: 800px;">
          <div class="row">
            <div class="col-md-4 bg-success">
               <a routerLink=""><i class="pi  pi-arrow-left p-3 text-white text-success text-bold" style="font-size: 2rem"></i></a> 
               <div class="row ">
                <p class="p-2 text-white fs-5">After submitting your email and new password, a verification link will be sent to your email. Clicking on that link will automatically set your new password .</p>
               </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-bs-gray-700 text-bold fs-4">Forgot Password</h5>
                
                  <div class="form-group mt-3">
                    <label class="p-1 block fs-6">Email</label>
                    <input type="email" class="form-control" />
                 
                    <div class="form-group mt-3">
                        <label class="p-1 block fs-6">New Password</label>
                        <input  pInputText type="password" class="form-control" />
                      </div>
                      <div class="form-group mt-3">
                        <label class="p-1 block fs-6">Confirm Password</label>
                        <input  pInputText type="password" class="form-control" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="captcha">Please enter the captcha shown below:</label>
                        <input  pInputText type="text" class="form-control mb-3" />
                        <app-captcha #captchaImage class="form-control" ></app-captcha>
                      </div>
                      <div class="d-flex align-items-center justify-content-center">
                        <button pButton pRipple type="button" label="Submit"
                          class="p-button-rounded p-button-success text-center mt-3" ></button>
                      </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>