<div class="d-flex custom-container">
    <div class="container align-self-center ">
      <div class="row">
        <div class="card mx-auto shadow" style="max-width: 700px;">
          <div class="row">
            <div class="col-md-4 bg-white">
               <a routerLink=""><i class="pi  pi-arrow-left p-3 text-success text-bold" style="font-size: 2rem"></i></a> 
               <div class="row bg-success">
                <p class="p-2 text-white fs-6">After submitting your email and new password, a verification link will be sent to your email. Clicking on that link will automatically set your new password .</p>
               </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Forgot Password</h5>
                
                  <div class="form-group mt-3">
                    <label>Email</label>
                    <input type="email" class="form-control" />
                 
                    <div class="form-group mt-3">
                        <label>New Password</label>
                        <input type="password" class="form-control" />
                      </div>
                      <div class="form-group mt-3">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" />
                      </div>

                      <div class="form-group">
                        <ngx-captcha [(ngModel)]="captcha" [ngSwitch]="siteKey"></ngx-captcha>
                      </div>
                      <div class="form-group mt-3">
                        <label>Enter Captcha </label>
                        <input type="text" class="form-control" />
                      </div>
                      <button type="button" class="btn btn-success mt-3" >Submit</button>

                    
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>