.text-center{
    text-align: center !important;
}

.rotated-text {
    /* For modern browsers */
    transform: rotate(90deg);
  
    /* For older browsers (like IE9 and earlier) */
    -ms-transform: rotate(90deg);
  
    /* For some versions of Firefox */
    -moz-transform: rotate(90deg);
  
    /* For some versions of Safari and Chrome */
    -webkit-transform: rotate(90deg);
  
    /* For some versions of Opera */
    -o-transform: rotate(90deg);
  
    /* To keep the layout from breaking */
    /* (optional, adjust height and width as needed) */
    white-space: nowrap;
    width: 20px;
    height: 200px;
  }

  .text-bold {
    font-weight: bold;
  }

  :host ::ng-deep .p-datatable .p-datatable-header {
    background: #6c757d;
    color: #fff;
    border: 1px solid #dee2e6;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
    font-size: 20px;
}