
<p-table #dt [value]="antiPouchingFormB" dataKey="id" editMode="row" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
        <div class="flex">
            <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2 d-none"
                pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" 
                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" 
                class="p-button-warning mr-2 d-none" pTooltip="PDF" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-filter"
                (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info ml-auto d-none"
                pTooltip="Selection Only" tooltipPosition="bottom"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>

            <th  class="text-center" rowspan="2"> S.no</th>
            <th  class="text-center" rowspan="2"> Article</th>
            <th  class="text-center" rowspan="2"> Unit</th>
            <th class="text-center" rowspan="2">Details</th>
          <th></th>
        </tr>

      </ng-template>
    <ng-template pTemplate="body" let-seizure let-editing="editing" let-i="rowIndex">
        <tr [pEditableRow]="seizure">
            <td hidden="true">{{ seizure.id }}</td>
            <td class="text-center"> {{ seizure.sno }} </td>
            <td class="text-left"> {{seizure.article}} </td>
            <td class="text-center"> {{seizure.unit}} </td>
           
            <td class="text-center"><p-cellEditor>
                <ng-template pTemplate="input">
                    <textarea class="w-100" pInputText type="text" rows="5" [(ngModel)]="seizure.details"> </textarea>
                </ng-template>
                <ng-template pTemplate="output">
                    {{seizure.details}}
                </ng-template>
            </p-cellEditor>
        </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(seizure)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(seizure)"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(seizure, i)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                      
                </div>
            </td>
          
        </tr>
    </ng-template>
    
    </p-table>
    