<p-toast></p-toast>

<div class="grid">
    <div class="col-8 p-3">
        <p-card header="{{btnTitle}} Forest Division / Gamma Unit" styleClass="p-fluid">
            <form *ngIf="formDistrict && isDataLoaded"  [formGroup]="formDistrict"  (ngSubmit)="onSubmitDistrict()">
                <div class="formgrid">
         
                    <div class="field">
                        <label for="districtName">District Name</label>
                        <input id="districtName" pInputText mode="text" formControlName="districtName" />
                        <small class="p-error block"
                            *ngIf="formDistrict.get('districtName')?.invalid && formDistrict.get('districtName')?.dirty"> District is
                            required.</small>
                            <small class="p-error block"
                            *ngIf="districtControl?.hasError('districtTaken')"> District is
                            already exists</small>
                    </div>
                    <div class="field">
                        <label for="name">Province</label>
                        <p-dropdown [options]="provinceData" formControlName="province" optionLabel="name" optionValue="id" (onChange)="onProvinceChange($event)"></p-dropdown>
                    </div>
                  
                    <div class="field">
                        <label for="name">Circle</label>
                        <p-dropdown [options]="circleData" formControlName="circle" optionLabel="name" optionValue="id"></p-dropdown>
                    </div>
                  

                    <div class="flex align-items-end  col-6 gap-3 ">
                        <button pButton pRipple label="Save" type="submit" icon="pi pi-check" class="p-button-success"
                            [disabled]="formDistrict.invalid"></button>
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary" (click)="onReset()"
                            type="reset"></button>
                    </div>

                </div>
            </form>
        </p-card>
    </div>
</div>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
           <h4>Manage Forest Division Gamma Unit</h4>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)] = "search" (input)="dt.filterGlobal(search, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="district" [rows]="10" [paginator]="true" [globalFilterFields]="['name']"
         [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">District / Division<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="circleName">Circle Name<p-sortIcon field="circleName"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template> 
        <ng-template pTemplate="body" let-District>
            <tr>
                <td>{{District.name}}</td>
                <td>{{District.circle.name}}</td>
                <td class="gap-3">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-5" (click)="editDistrict(District)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDistrict(District)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{district ? district.length : 0 }} Districts.
            </div>
        </ng-template>
    </p-table>
</div>
