
<p-progressBar mode="indeterminate" [style]="{ height: '6px'}" [hidden]="isDataLoaded"></p-progressBar>
<div [@fadeIn]>
 <div  *ngIf="boxModels.length>0"> <div class="row mt-3 dashboard">
    <div class="col-lg-3">
      <div class="card shadow">
        <div class="card-body bg-primary">
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{boxModels[0].count}}</h2>
            <div>
              <i class="pi pi-chart-bar p-3 text-white  text-bold" style="font-size: 3rem"></i>
            </div>
          </div>
        </div>
        <div class="card-header bg-white shadow fs-5 font-bold text-grey">
          <div class="title"> Total Cases </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow">
        <div class="card-body bg-warning">
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{boxModels[1].count}}</h2>
            <div>
              <i class="bi bi-subtract"></i>
              <i class="pi pi-folder-open p-3 text-white  text-bold" style="font-size: 3rem"></i>
            </div>
          </div>
        </div>
        <div class="card-header bg-white shadow fs-5 font-bold text-grey">
          <div class="title"> Open Cases </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow">
        <div class="card-body bg-success">
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{boxModels[2].count}}</h2>
            <div>
              <i class="pi  pi-flag-fill p-3 text-white text-success text-bold" style="font-size: 3rem"></i>
            </div>
          </div>
        </div>
        <div class="card-header bg-white shadow fs-5 font-bold text-grey">
          <div class="title"> Approved Cases </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow">
        <div class="card-body bg-danger">
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{boxModels[3].count}}</h2>
            <div>
              <i class="pi  pi-stop-circle p-3 text-white text-success text-bold" style="font-size: 3rem"></i>
            </div>
          </div>
        </div>
        <div class="card-header bg-white shadow fs-5 font-bold text-grey">
          <div class="title"> Disposed Cases </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row mt-5">

    <div class="col-lg-4">
     
          <p-card header="Data Analysis on Cases / Year">
          <p-chart height="380" type="bar" [data]="barChartData"></p-chart>
        </p-card>
    </div>
    <div class="col-lg-4">
          <p-card header="Data Analysis on Cases / division">
          <p-chart height="380" type="doughnut" [data]="this.pieChartDate"></p-chart>
          </p-card>
    </div>
    <div class="col-lg-4">
      <div class="p-card p-component border-light">
        <div class="p-card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="dot me-2 bg-tomato"></div>
            <div class="p-card-title">
              Live Updates</div>
          </div>
        </div>
        <div class="p-1">
          <div class="live-updates list-group" #list>
            <div *ngFor="let item of baseline" class="text-grey">
              <a (click)="viewBaseline(item)" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">Case # {{item.caseNo}}</h6>
                  <span [ngClass]="changeColorOnStatusOfDashboard(item.status)" class="customer-badge">{{item.status}}</span>
                 
                </div>
                <p class="mb-1 text">{{item.crimeDetails}}</p>
                <small class="text-muted">Crime Date : {{item.crimeDate | date}}</small>
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
  <!----------Grid Module---------->

  <div class="row mt-5">
<p-card header="Top 10 recent Cases">
      <p-table [value]="baseline" [paginator]="true" [rows]="10" [responsive]="true" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>Case No</th>
            <th>Crime Details</th>
            <th>Name Of Officer</th>
            <th>Crime Date</th>
            <th>Status</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-base>
          <tr>
            <td>{{ base.caseNo }}</td>
            <td>{{ base.crimeDetails }}</td>
            <td>{{ base.officerName }}</td>
            <td>{{ base.crimeDate | date }}</td>
            <td> <span [ngClass]="changeColorOnStatusOfDashboard(base.status)" class="customer-badge">{{base.status}}</span></td>
            <td (click)="viewBaseline(base)"><i class="pi pi-eye fs-4"></i></td>
          </tr>
        </ng-template>
      </p-table>
</p-card>
  </div>
</div>
