<div class="d-flex custom-container ">
    <div class="container align-self-center ">
      <div class="row">
        <div class="card mx-auto shadow" style="max-width: 700px;">
          <div class="row">
           
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">Dashboard Under Construction</h5>
                
                <a routerLink="/changepassword">Change Password</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>